{% extends 'base.html.twig' %}

{% block title %}{{ trick.name|capitalize }}{% endblock %}


{% block header %}
    <div class="container-fluid mt-3">
        <div class="header-trick d-flex justify-content-center align-items-center flex-column">
            <h1 class="title homepage-title text-white text-uppercase">{{ trick.name|capitalize }}</h1>
            <div class="action-wrapper">

            </div>

            <div class="action-wrapper d-flex justify-content-center align-items-center">
                <a href="{{ path('trick_edit', { id: trick.id }) }}" class="btn btn-primary mr-2"><i
                            class="fas fa-pencil-alt"></i></a>
                <a href="{{ path('trick_delete', { id: trick.id }) }}" class="btn text-white bg-danger"><i
                            class="far fa-trash-alt"></i></a>
            </div>

            <a class="home-link" href="{{ path('home') }}">back to list</a>
        </div>
    </div>

{% endblock %}

    {% block tricks %}

        <div class="media-grid-wrapper">
            {# {% for media in medias %} #}

            <div class="card media-card">
                <div class="card-img-container">
                    <a href="{{ path('trick_show', { id: trick.id }) }}">
                        <img class="card-img-top trick-img" src="{{ asset('uploads/tricks/trick-test.jpg') }}"
                             alt="trick image">
                        <div class="card-img-icon"><i class="far fa-eye fa-3x"></i></div>
                    </a>
                </div>
            </div>

            <div class="card media-card">
                <div class="card-img-container">
                    <a href="{{ path('trick_show', { id: trick.id }) }}">
                        <img class="card-img-top trick-img" src="{{ asset('uploads/tricks/trick-test.jpg') }}"
                             alt="trick image">
                        <div class="card-img-icon"><i class="far fa-eye fa-3x"></i></div>
                    </a>
                </div>
            </div>

            <div class="card media-card">
                <div class="card-img-container">
                    <a href="{{ path('trick_show', { id: trick.id }) }}">
                        <img class="card-img-top trick-img" src="{{ asset('uploads/tricks/trick-test.jpg') }}"
                             alt="trick image">
                        <div class="card-img-icon"><i class="far fa-eye fa-3x"></i></div>
                    </a>
                </div>
            </div>

            <div class="card media-card">
                <div class="card-img-container">
                    <a href="{{ path('trick_show', { id: trick.id }) }}">
                        <img class="card-img-top trick-img" src="{{ asset('uploads/tricks/trick-test.jpg') }}"
                             alt="trick image">
                        <div class="card-img-icon"><i class="far fa-eye fa-3x"></i></div>
                    </a>
                </div>
            </div>

            {# {% endfor %} #}
        </div>

        <div class="container">

            <div class="row">
                <div class="col-12">
                    <article class="text-center mt-4">
                        {{ trick.description }}
                    </article>
                </div>
            </div>

            <div class="row mt-4 mb-4">
                <div class="col-12 d-flex flex-row justify-content-center align-items-center">
                    <div class="trick-meta">
                        <p class="mb-0 p-3">
                            Created : {{ trick.createdAt|date('d-m-Y') }}
                        </p>
                    </div>

                    <div class="trick-meta">
                        <p class="mb-0 p-3">
                            Updated : {{ trick.updatedAt|date('d-m-Y') }}
                        </p>
                    </div>

                    <div class="trick-meta">
                        <p class="mb-0 p-3">
                            Category : {{ trick.category }}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    {% endblock %}



